<html>
	<head>
		<title>{{.Title}}</title>
	</head>
	<body>
		 {{template "header" .Header}}
		 <p> Hello world</p>
		 <iframe src="/api/user/show_panel" height="500", width="900"></iframe>
	</body>
</html>
